.hero {
  min-height: 960px;
  display: flex;
  flex-flow: column nowrap;
  padding-top: 40px;
  background-color: #000;
  background-image: url(../img/hero-background.jpg);
  background-position: top right;
  background-size: cover;

  &__header {
    max-width: 1760px;
    margin-bottom: 190px;
    padding-left: 80px;
    padding-right: 80px;
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 218px;
  }
}

.hero-main {
  max-width: 920px;
}

.hero__bottom {
  padding-top: 43px;
  padding-bottom: 43px;
  background-color: var(--color-dark);

  &__container {
    display: flex;
  }
}