@use '../../../node_modules/sass-rem/' as *;

.nav {
  &__list {
    display: flex;
    list-style: none;
  }

  &__item:not(:last-of-type) {
    margin-right: 56px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-size: rem(16px);
  }
}